<launch>

  <!-- Map Server -->
  <arg name="map_file" default="$(find my_robot)/maps/myworld.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">


    <!-- Laser -->
    <remap from="scan" to="my_robot/laser/scan"/>

    <!-- Which model to use, either beam, likelihood_field, or 
         likelihood_field_prob (same as likelihood_field but incorporates the 
         beamskip feature, if enabled).
         string, default: "likelihood_field"
    -->
    <param name="laser_model_type" value="likelihood_field"/>

    <!-- Maximum distance to do obstacle inflation on map, for use in 
         likelihood_field model. 
         double, default: 2.0 meters
    -->
    <param name="laser_likelihood_max_dist" value="3.0"/>

    <!-- Minimum scan range to be considered; -1.0 will cause the laser's 
         reported minimum range to be used.
         double, default: -1.0
    -->
    <param name="laser_min_range" value="0.1"/>

    <!-- Maximum scan range to be considered; -1.0 will cause the laser's 
         reported maximum range to be used.
         double, default: -1.0
    -->
    <param name="laser_max_range"  value="5.0"/>


    <!-- How many evenly-spaced beams in each scan to be used when updating the filter.
         int, default: 30
    -->
    <param name="laser_max_beams" value="60"/>


    <!-- Mixture weight for the z_hit part of the model.
         double, default: 0.98
    -->
    <param name="laser_z_hit" value="0.95"/>


    <!-- Mixture weight for the z_rand part of the model.
         double, default: 0.02
    -->
    <param name="laser_z_rand" value="0.05"/>


    <!-- Odometry -->
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>


    <!-- Overall filter -->

    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>
    <param name="initial_pose_x" value="-1.5"/>
    <param name="initial_pose_y" value="0.5"/>

    <!-- Minimum allowed number of particles.
         default: 100
    -->
    <param name="min_particles" value="5000"/>

    <!-- Max allowed number of particles.
         default: 5000
    -->
    <param name="max_particles" value="10000"/>

    <!-- Translational movement required before performing a filter update. 
         default: 0.2 meters
    -->
    <param name="update_min_d" value="0.1"/>

    <!-- Rotational movement required before performing a filter update.
         default: π/6.0 (0.5235) radians)
    -->
    <param name="update_min_a" value="0.2"/>

  </node>

  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <remap from="scan" to="my_robot/laser/scan"/>
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>